//compass import for components and mixins
@import "compass";
//fonts import, full compatibility mode :)
@include font-face('panton', font-files("../fonts/regular.otf", "../fonts/regular.ttf", "../fonts/regular.woff"), '../fonts/regular.eot', normal);
@include font-face('panton', font-files("../fonts/bold.otf", "../fonts/bold.ttf", "../fonts/bold.woff"), '../fonts/bold.eot', bold);
//global colors
$color_primary: #E8C300;
$dark_text: #414141;
$white_text: #FFFFFF;
$light_grey: #EEEEEE;

//bootstrap breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//--------------------------BODY------------------------------------
html, body{
    background-color: $light_grey;
    font-family: 'panton';
    color: $dark_text;
}

//--------------------------TOP SECTION------------------------------------
.top{
    background-image: url(../images/top_bg.jpg);
    background-position: center;
    color: $white_text;
    height: 240px;
    //we hiding the top section for mobiles and replace with foldable navbar
    @media screen and (max-width: $md){
        display: none;
    }
    .logo{
        margin-top: 10px;
    }
    .avatar{
        float: right;
        margin-top: 20px;
        width:70px;
        height: 70px;
        border-radius: 50%;
        border: solid 3px $color_primary;
        background-image: url('../images/avatar.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .searchWrap{
        margin-top: 30px;
        border: solid 3px $light_grey;
        border-radius: 10px;
        @include transition(border-color .6s ease);
        &.active{
            border-color: $color_primary;
        }
        .searchField{
            height: 56px;
            width: 100%;
            background-color: transparent;
            border: none;
            border-radius: 8px;
            color: $white_text;
            font-size: 26px;
            padding: 14px;
            caret-color: rgba($color: $white_text, $alpha: 0.6);
            @include transition(border .6s ease);
            &:focus{
                outline: none !important;
                box-shadow: none !important;
            }
        }
        .searchBtn{
            font-size: 26px;
            height: 56px;
            color: $light_grey;
            border: none;
            background-color: transparent;
            cursor: pointer;
            &:hover{
                color: $color_primary;
            }
            &:focus{
                outline: none !important;
                box-shadow: none !important;
            }
        }
    }
}
//-------------------SELECTION SECTION------------------------------------
.selection{
    margin-top: 30px;
    margin-bottom: 50px;
    select{
        option{
            background-color: $light_grey;
            color: $dark_text;
            font-weight: bold;
        }
        height: 48px;
        border-radius: 20px;
        border-color: $color_primary;
        border-width: 2px;
        @include appearance(none);
        background: #F7F7F7 url('../images/arr_down.png') 88% center no-repeat;
        @media screen and (max-width: $lg){
            background: #F7F7F7 url('../images/arr_down.png') 96% center no-repeat;
            background-size: 22px;
        }
        background-size: 22px;
        padding: 0 24px;
        font-size: 22px;
        font-weight: bold;
        width: 100%;
        &:focus{
            outline: none;
        }
        &[name=sortby] {
            float: right;
        }
    }
}
//--------------------------RESULTS SECTION------------------------------------
.results{
    .result{
        margin: 50px 0;
        background-color: $color_primary;
        padding-bottom: 14px;
        border-radius: 14px;
        position: relative;
        h1{
            padding-top: 60px;
            font-weight: bold;
            font-size: 35px;
        }
        h3{
            font-weight: bold;
            font-size: 20px;
            color: $white_text;
            margin:0 !important;
            padding:0 !important;
        }
        .logoWrapper{
            top:-54px; right:0; left:0;
            margin: auto;
            position: absolute;
            background-color: $color_primary;
            border-radius: 50%;
            width: 108px;
            height: 108px;
            .logo{
                width: 100px;
                height: 100px;
                margin: 4px 4px;
                border-radius: 50%;
                background: url('../images/heineken.svg') center no-repeat;
                background-size: 100%;
            }
        }
        
    }
    
}